Handbook of Combinatorial Design
.vscode
__pycache__
CycleGeneration
latin_mc8.txt
Interesting Papers
Notes
Symmetric Order 21
test.py
out.txt
Scripts/C++ Implementation
Scripts/anti_pasch_sts13.txt
Scripts/Example_Anti-Pasch_Configuration.txt
Scripts/file
